/* .contenedorForm {
  display: flex;
  align-items: center;
}

.contendor {
  width: 10vh;
  display: flex;

  justify-content: center;
  align-items: flex-start;
} */

.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00a0e9;
  padding: 1px 0;
}
.gutter-box-item {
  background: #94b0bd;
  width: 50%;
  padding: 1px 0;
}
